<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    {% load staticfiles %}

    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://code.getmdl.io/1.1.3/material.indigo-pink.min.css'>
    <script defer src='https://code.getmdl.io/1.1.3/material.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js'></script>

    <link rel='stylesheet' href='static/css/styles.css'>
    <link rel='stylesheet' href='static/css/dialog-polyfill.css'>
    <script src="static/js/main.js"></script>
    <script src="static/js/dialog-polyfill.js"></script>
    <script src="static/js/js.cookie.js"></script>
    <!--

    <link rel='stylesheet' href='{% static "AutoDoApp/css/styles.css" %}'>
    <link rel='stylesheet' href='{% static "AutoDoApp/css/dialog-polyfill.css" %}'>
    <script src="{% static 'AutoDoApp/js/main.js' %}"></script>
    <script src="{% static 'AutoDoApp/js/dialog-polyfill.js' %}"></script>
    <script src="{% static 'AutoDoApp/js/js.cookie.js' %}"></script>
        -->

    <title>AutoDo</title>
</head>
<body class='project mdl-color--grey-100 mdl-color-text--grey-700 mdl-base'>


<div class='mdl-layout mdl-js-layout mdl-layout--fixed-header'>
    <header class='mdl-layout__header'>
        <div class='mdl-layout__header-row'>
            <!-- Title -->
            <h4>AutoDo</h4>
            <!-- Add spacer, to align navigation to the right -->
            <div class='mdl-layout-spacer'></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class='mdl-navigation'>

                <span>Welcome {{ request.session.user_name }}</span>
                <a class="mdl-navigation__link token-link" href=""> Token</a>

                <a class='mdl-navigation__link' href=''>Link</a>
            </nav>
        </div>
    </header>

    <main class='mdl-layout__content'>
        <div class='page-content'>
            <!-- Colored FAB button with ripple -->
            <button id="register"
                    class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored right-corner'>
                <i class='material-icons'>add</i>
            </button>
            <!-- project -->
            {% for item in request.session.project_list %}
                <div class='mdl-card mdl-shadow--2dp'>
                    <div class='mdl-card__supporting-text'>
                        <h5> {{ item.project_name }} &nbsp; <a href="{{ item.project_url }}">{{ item.project_url }}</a></h5>
                        <div class='mdl-grid'>
                            <div class='mdl-cell mdl-cell--6-col'>
                                <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect'>
                                    <span class='mdl-switch__label'>Update on Every Commit</span>
                                    <input type='checkbox' class='mdl-switch__input'>
                                </label>
                            </div>
                            <div class='mdl-cell mdl-cell--6-col right'>
                                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect refresh'>
                                    Apply Setting<i class='material-icons'>autorenew</i>
                                </button>

                            </div>
                        </div>
                        <div class='mdl-grid'>
                            <div class='mdl-cell mdl-cell--6-col'>
                                Recent Update &nbsp; 2016.05.27
                            </div>
                            <div class='mdl-cell mdl-cell--6-col right'>
                                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect generate'>
                                    Generate Document NOW
                                </button>

                            </div>

                            <!--
                            <div class='mdl-cell mdl-cell--6-col right'>
                                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect manage'>
                                    Mange Project<i class='material-icons'>build</i>
                                </button>
                            </div>
                            --->
                        </div>
                        <!--<div class='mdl-grid'>
                            <div class='mdl-cell mdl-cell--12-col label right'>
                                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect generate'>
                                    Generate Document NOW
                                </button>
                            </div>
                        </div>
                        -->


                        <div class='mdl-card__actions mdl-card--border'>
                            <div class='mdl-grid p0'>
                               <div class="mdl-cell mdl-cell--6-col p0">
                                   <h6>Introduction</h6>
                               </div>
                                <div class="mdl-cell mdl-cell--6-col right p0">

                                    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect edit'>edit</button>
                                    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect save' style="display:none;">save</button>
                                </div>

                            </div>

                            <p>{{ item.project_desc }}</p>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        <dialog id="dialog-token" class="mdl-dialog">
            <div class="mdl-dialog__content">
            <form>
                <div class="mdl-textfield mdl-js-textfield token-input">
                <input class="mdl-textfield__input" type="text" id="token">
                <label class="mdl-textfield__label" for="token">Token...</label>
                </div>
                <div id="spinner-token" class="mdl-spinner mdl-js-spinner is-active" style="display:none;"></div>
                <p id="token-result" style="display:none;"> Complete saving </p>

                <div class="right">
                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect token-save'>save</button>
                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect token-cancel'>cancel</button>
                <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect token-done' style="display:none;">done</button>
                </div>


            </form>
            </div>
        </dialog>

        <dialog id="dialog-generate" class="mdl-dialog">

            <div class="mdl-dialog__content">
                <p id="status">Generating a Document</p>
                <div id="spinner-generate" class="mdl-spinner mdl-js-spinner is-active"></div>
                <div class="right">
                    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect generate-ok'>okay</button>
                </div>

            </div>

        </dialog>

    </main>
</div>
<script>
    $(document).ready(function(){
        var csrftoken = Cookies.get('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    var dialog_generate = document.querySelector('#dialog-generate');
    var dialog_token = document.querySelector('#dialog-token');
    if (! dialog_generate.showModal) {
        dialogPolyfill.registerDialog(dialog_generate);
    }
    if (! dialog_token.showModal){
        dialogPolyfill.registerDialog(dialog_token);
    }

    $('.token-link').click(function(event){
        event.preventDefault();
        // alert("token link clicked");
        dialog_token.showModal();
    });
    $('.token-cancel').click(function(event){
        event.preventDefault();
        //alert("clicked closed");
        console.log("token closed");

        dialog_token.close();
    });
    $('.token-save').click(function(event){
        event.preventDefault();
        $("#spinner-token").show();
        $(".token-input").hide();
        $(".token-cancel").hide();
        $(".token-save").hide();


        //ajax

         $.ajax({
            url: "../generate/",
            type: "POST",
            data: JSON.stringify({"github_url": url,
                "desc": project_description}),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                dialog_generate.showModal();
            },
            error: function (result) {

            },
            success: function (result) {

            },
            complete: function (result) {
               $("#spinner-token").hide();
               $("#token-result").show();
               $('.token-done').show();

                //dialog_generate.close();
                //dialog_generate.close();
            },
            timeout: 10000 //10 second
        });




    });

    $('.token-done').click(function(event){
        event.preventDefault();
        dialog_token.close();
    });

     $(".generate-ok").click(function(event){
        event.preventDefault();
       dialog_generate.close();
    });

    $('body').on("click",".generate", function(event){
        console.log("generate clicked");
        event.preventDefault();
        var card = $(this).parent('div').parent('div').parent('div');
        var url = card.children('h5').first().children('a').first().text();
        var project_description = card.children('#desc').first().children('div').first().children('p').first().text();

        generateAjax(url, project_description);
    });

    function generateAjax(url, project_description) {
        $.ajax({
            url: "../generate/",
            type: "POST",
            data: JSON.stringify({"github_url": url,
                "desc": project_description}),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                dialog_generate.showModal();
            },
            error: function (result) {
                $("#status").text("Failed Generating a Document");

            },
            success: function (result) {
                $("#status").text("Completed Generating a Document");

            },
            complete: function (result) {
               $("#spinner-generate").hide();
               $(".generate-ok").show();

                //dialog_generate.close();
                //dialog_generate.close();
            },
            timeout: 10000 //10 second
        });
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>


</body>
</html>