{% extends "admin_layout.html" %}

{% block content %}

<div id="myModal" class="modal fade modal-sm" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <p>작업 도중 문제가 발생하였습니다. 나중에 다시 시도 하여 주세요.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modify_poll" class="modal fade bs-example-modal-sm" role="dialog">
    <div class="modal-content modal-sm">
        <div class="modal-header modal-sm">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">수정하기</h4>
        </div>
        <div class="modal-body modal-sm">
            <label for="modal_poll_contents">설문 제목</label>
            <input name= "modal_poll_contents" type="text" class="form-control" id="modal_poll_contents" style="margin-bottom: 2px">
            <label for="modal_poll_description">설문 내용</label>
            <textarea name="modal_poll_description" class="form-control" id="modal_poll_description" rows="3"></textarea>
            <input type="text" class="form-control" id="modal_poll_answer1" style="margin-bottom: 2px">
            <input type="text" class="form-control" id="modal_poll_answer2" style="margin-bottom: 2px">
            <input type="text" class="form-control" id="modal_poll_answer3" style="margin-bottom: 2px">
            <input type="text" class="form-control" id="modal_poll_answer4" style="margin-bottom: 2px">
            <input type="text" class="form-control" id="modal_poll_answer5" style="margin-bottom: 2px">
        </div>
        <div class="modal-footer modal-sm">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="handle_modify_poll_name()">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<div class="panel-group " id="accordion" role="tablist" aria-multiselectable="false">
    {% for poll in paginate.items %}
    {% autoescape false %}
    <div class="panel panel-default" id="collapse_top_div">
        <div class="panel-heading" role="tab" id={{ "heading_poll" + poll.id|string() }}>
            <h4 class="panel-title">
                <a class="collapsed" id={{ "panel_poll_title_" + poll.id|string() }} role="button" data-toggle="collapse" data-parent="#accordion" href= {{ "#collapse_poll" + poll.id|string() }} aria-expanded="false" aria-controls={{ "collapse_poll" + poll.id|string() }}>
                    {{ poll.subject}}
                </a>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;cursor: pointer" onclick="return launch_poll_delete_modal({{ poll.id|string() }})" ></span>
                <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true" style="float:right;margin-right: 2px;cursor: pointer" onclick="return modify_poll_name({{ poll.id|string() }})"></span>
            </h4>
        </div>
        <div id= {{ "collapse_poll" + poll.id|string() }} class="panel-collapse collapse" role="tabpanel" aria-labelledby={{ "heading_poll" + poll.id|string() }}>
        <div class="panel-body" id={{ "panel_body_poll_" + poll.id|string() }}>
            {{ poll.question_statement}}
        </div>
        <ul class="list-group">
            {% for answer in poll.questions %}
                <a href="#" class="list-group-item" id={{ "panel_answer_poll_" + poll.id|string() +"_"+ answer.choice_num|string() }} onclick="">{{ answer.choice_num }}. {{ answer.answer_description }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endautoescape %}
{% endfor %}
</div>

<br/>
<input class="btn btn-default" type="button" id="btn_load_more" value="Load More" style="display: none">


<script type=text/javascript>
    var curr_page = 1;
    var total_page = {{ paginate.pages }};
    var page_per_pagination = {{ num_of_pages_per_pagination }};
    var curr_num_of_questions = -1;
    $(document).ready(function () {
        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        if ({{ total }} >
        page_per_pagination
        )
        {
            $("#btn_load_more").css('display', 'block');
        }

        $("#btn_load_more").click(function () {
            load_more_poll();
        });
    });

    function load_more_poll(){
        if(curr_page == total_page) return false;
        $.ajax({
            url: '/api/poll',
            data: {"page" : curr_page+1},
            success: handle_json_poll,
            error: function(error){
                console.log(error);
                $("#myModal").modal('show');
            },
            dataType: "json",
            contentType: "application/json; charset=utf-8"
        });
    }

    function handle_json_poll(json_data){
        curr_page += 1;
        var num_of_results = json_data.objects.length;
        for( var i = 0; i<num_of_results; i++){ // Poll level
            var poll_id = json_data.objects[i].id;
            var title = json_data.objects[i].subject;
            var description = json_data.objects[i].question_statement;
            description = decodeHtml(description);
            var div_item = make_poll_collapse(poll_id, title, description);
            make_poll_answers(poll_id, json_data.objects[i].questions, div_item);
            $("#accordion").append(div_item);
        }
    }

    function make_poll_collapse(poll_id, title, description){
        var heading_poll_id = "heading_poll" + poll_id;
        var collapse_poll_id = "collapse_poll" + poll_id;
        var panel_poll_title = "panel_poll_title_" + poll_id;
        var panel_body_title = "panel_body_poll_" + poll_id;
        var sharp_collapse_poll_id = "#collapse_poll" + poll_id;
        var div_item = $("#collapse_top_div").clone();

        div_item.find(".panel-heading").attr("id", heading_poll_id);
        div_item.find("a.collapsed").attr("id", panel_poll_title);
        div_item.find("a.collapsed").attr("href", sharp_collapse_poll_id);
        div_item.find("a.collapsed").attr("aria-controls", collapse_poll_id);
        div_item.find("a.collapsed").text(title); // Poll Subject
        div_item.find(".panel-collapse").attr("id", collapse_poll_id);
        div_item.find(".panel-collapse").attr("aria-labelledby", heading_poll_id);
        div_item.find(".panel-body").attr("id", panel_body_title); // Poll Contents
        div_item.find(".panel-body").text(description); // Poll Contents
        div_item.find(".glyphicon-remove").attr("onclick", "return launch_poll_delete_modal("+poll_id+")");
        div_item.find(".glyphicon-pencil").attr("onclick", "return modify_poll_name("+poll_id+")");
        div_item.find("a.list-group-item").remove();

        return div_item;
    }

    function make_poll_answers(poll_id, answer_obj, div_item){
        var num_questions = answer_obj.length;
        for(var i=0; i<num_questions; i++){
            var answer_id = (i+1).toString();
            var li_str = "<a href=\"#\" class=\"list-group-item\" id=\"panel_answer_poll_"+poll_id+"_"+answer_id+"\"onclick=\"\">" + answer_id + ". " + answer_obj[i].answer_description+"</a>";
            div_item.find(".list-group").append(li_str);
        }
    }

    function delete_poll(poll_id){
        $("#pollDeleteModal").modal('hide');
        var _poll_id = poll_id*1;
        $.ajax({
            url: '/delete_poll',
            type: 'POST',
            data: {
                poll_id : _poll_id
            },
            success: function(){
                alert("삭제되었습니다.");
                location.reload();
            },
            error: function(error){
                console.log(error);
                $("#myModal").modal('show');
            }
        });
    }

    function validity_check(){
        if(!$("#modal_poll_contents").val()) return false;
        if(!$("#modal_poll_description").val()) return false;
        for(var i=1; i<=curr_num_of_questions; i++){
            if(!$("#modal_poll_answer"+i).val()){
                return false;
            }
        }
        return true;
    }

    function modify_poll_name(poll_id){
        // Get the number of question number from server
        curr_num_of_questions = 2;
        var filters=[{"name": "id", "op": "eq", "val": poll_id*1}];
        $.ajax({
            url: '/api/poll',
            data: {"q" : JSON.stringify({"filters": filters})},
            success: function(json_data){
                var poll = json_data.objects[0];
                curr_num_of_questions = poll.num_questions;
                for(var i=1; i<=curr_num_of_questions; i++){
                    var question_contents = $("#panel_answer_poll_"+poll_id+"_"+i).text();
                    question_contents = question_contents.substring(3, question_contents.length);
                    $("#modify_poll").find("#modal_poll_answer"+i).val(question_contents.trim());
                    $("#modify_poll").find("#modal_poll_answer"+i).css("display","block");
                }
                if(curr_num_of_questions < 5){
                    for(var i=5; i>curr_num_of_questions; i--){
                        $("#modify_poll").find("#modal_poll_answer"+i).css("display","none");
                    }
                }
                $("#modify_poll").modal('show');
            },
            error: errorHandler,
            dataType: "json",
            contentType: "application/json; charset=utf-8"
        });

        var contents = $("#panel_poll_title_" + poll_id).text();
        var description = $("#panel_body_poll_" + poll_id).text();
        $("#modify_poll").find("#modal_poll_contents").val(contents.trim());
        $("#modify_poll").find("#modal_poll_description").val(description.trim());
        $("#modify_poll").val(poll_id);
    }

    function handle_modify_poll_name(){
        if(!validity_check()){
            alert("양식을 채워주세요.");
            return;
        }
        if(curr_num_of_questions < 2) return;
        var poll_id = $("#modify_poll").val();
        $("#modify_poll").modal('hide');
        $("#modify_poll").val("");
        var modified_contents = $("#modal_poll_contents").val();
        modified_contents = safe_tags_replace(modified_contents);
        var modified_description = $("#modal_poll_description").val();
        modified_description = safe_tags_replace(modified_description);
        var modified_answers = [];
        for(var i=1; i<=curr_num_of_questions; i++){
            var _modified_answer_contents = $("#modal_poll_answer"+i).val();
            modified_answers.push(_modified_answer_contents);
        }
        $.ajax({
            url: '/modify_poll',
            type: 'POST',
            data: {
                poll_id : poll_id,
                modified_title: modified_contents,
                modified_description: modified_description,
            },
            success: function(){
            },
            error: function(error){
                console.log(error);
                $("#myModal").modal('show');
            }
        });

        $.ajax({
            url: '/modify_questions',
            type: 'POST',
            data: {
                poll_id : poll_id,
                modified_answers: modified_answers
            },
            success: function(){
                location.reload();
            },
            error: function(error){
                console.log(error);
                $("#myModal").modal('show');
            }
        });
    }

    function errorHandler(error){
        console.log(error);
        $("#myModal").modal('show');
    }

</script>
{% endblock %}