<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta property="og:url"                content="http://hotopinion.net" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Hot Opinion" />
    <meta property="og:description"        content="Hot Opinion, Hot subject" />
    <meta property="og:image"              content="http://i1382.photobucket.com/albums/ah270/hyunjisong/3_zpsvn9410ts.png" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/hot_opinion_style.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>

<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5&appId=872475326201689";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="errorModal" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    <p>작업 도중 에러가 발생하였습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">코멘트를 삭제합니다.</h4>
                </div>
                <div class="modal-body">
                    삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="delete_btn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">투표를 진행합니다</h4>
                </div>
                <div class="modal-body">
                    해당 선택지에 투표하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="poll_btn">투표하기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Hot Opinion</a>
{#                <p class="navbar-text">&lt;설문 제안: admin@hotopinion.net&gt;</p>#}
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                {% if 'is_superuser' in session %}
                    {% if session.is_superuser %}
                        <li><a href="{{ url_for('admin') }}">관리자 페이지</a></li>
                    {% endif %}
                {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; HotOpinion <div class="fb-login-button" scope="public_profile,email" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState()"></div>
            <div class="fb-share-button" data-href="http://hotopinion.net" data-layout="button_count"></div></p>

        </footer>
    </div>
    <script type="text/javascript">
        function fbShare() {
            var product_name = 'Hot Opinion';
            var description = current_vote_description;
            var share_url = 'http://hotopinion.net';
            FB.ui({
                method: 'feed',
                name: product_name,
                link: share_url,
                description: description

            }, function (response) {});
            current_vote_description = "Hot Opinion, Hot Subject";
        }
    </script>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/special_character_handler.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
