{% extends "layout.html" %}

{% block content %}

    <div id="myModal" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    <p>정상적으로 투표되었습니다.</p>
                    <a class="btn btn-primary btn-lg" href="javascript:fbShare()"><i class="fa fa-facebook fa-lg"></i> Share on Facebook</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dupModal" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    <p>이미 투표한 설문입니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loginModal" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    <p>로그인이 필요합니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="false">
        {% for poll in paginate.items %}
            {% autoescape false %}
            <div class="panel panel-default" id="collapse_top_div">
                <div class="panel-heading" role="tab" id={{ "heading_poll" + poll.id|string() }}>
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"  onclick="load_comment({{ poll.id|string() }})" data-toggle="collapse" data-parent="#accordion" href= {{ "#collapse_poll" + poll.id|string() }} aria-expanded="false" aria-controls={{ "collapse_poll" + poll.id|string() }}>
                            {{ poll.subject }}
                        </a>
                    </h4>
                </div>
                <div id= {{ "collapse_poll" + poll.id|string() }} class="panel-collapse collapse" role="tabpanel" aria-labelledby={{ "heading_poll" + poll.id|string() }}>
                    <div class="panel-body">
                        {{ poll.question_statement }}
                    </div>
                    <ul class="list-group answer" id="answer_ul">
                        {% for answer in poll.questions %}
                            <a href="#" value={{ answer.selected_num }} class="list-group-item" onclick="return vote_poll_handler({{ poll.id }},{{ answer.id }})">{{ answer.choice_num }}. {{ answer.answer_description }} <b>({{ answer.selected_num }}/{{ poll.total_participant }})</b></a>
                        {% endfor %}
                    </ul>

                    <div class="input-group">
                        <input type="text" class="form-control" id={{ "comment_input" + poll.id|string() }} placeholder="덧글을 입력하세요.">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="submit_comment" onclick="return add_comment({{ poll.id }})">입력</button>
                      </span>
                    </div><!-- /input-group -->
                    <ul class="list-group comment" value=1 id={{ "comment_ul" + poll.id|string() }}></ul>
                    <input class="btn btn-default btn-sm more-comment blue" type="button" style="display: none" value="Load More" onclick="return load_more_comment({{ poll.id }})" id={{ "btn_load_more_comment_" + poll.id|string() }} />
                </div>
            </div>
            {% endautoescape %}
        {% endfor %}
    </div>

    <br/>
    <input class="btn btn-default blue" type="button" id="btn_load_more_poll" value="Load More" style="display: none">

    <script type="text/javascript">
        var curr_page = 1;
        var total_page = {{ paginate.pages }};
        var page_per_pagination = {{ num_of_pages_per_pagination }};
        var comment_per_pagination = 10;
        var cur_comment_total_page = -1;
        var submitted_comment = "";
        var _clone_panel;
        var current_vote_description = "Hot Opinion, Hot Subject";

        $(document).ready(function(){
            var csrftoken = $('meta[name=csrf-token]').attr('content');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            if({{ total }} > page_per_pagination){
                $("#btn_load_more_poll").css('display','block');
            }

            $("#btn_load_more_poll").click(function(){
                load_more_poll(curr_page);
            });

            // Input length check
            $("input.form-control").keypress(function(){
                var current_len = $(this).val().length + 1;
                var current_str = $(this).val();
                if(current_len >= 200){
                    alert("댓글은 최대 200자 까지 작성 가능합니다.");
                    $(this).val(current_str.substring(0,200));
                }
            });

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '872475326201689',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.5'
                });
                FB.getLoginStatus(function(response){
                    if (response.status != 'connected') { // Not log in in the facebook
                        initialize_setting();
                    }else{ // Login face book, but check the flask app is login
                        {% if 'user_email' not in session %}
                            // If there is no user_email in session, it is not loggined to the flask app
                            statusChangeCallback(response);
                        {% endif %}
                    // else case is loggined, and revisit this site.
{#                        if(!session_logged_in){#}
{#                            FB.logout(function(response){logout_handler(); location.reload();});#}
{#                        }#}
                    }
                });
				FB.Event.subscribe("auth.logout", function(){logout_handler(); location.reload();});
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5&appId=872475326201689";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            _clone_panel = $("#collapse_top_div").clone();
        });

        function add_comment(poll_id){
            if(!$("#comment_input"+poll_id).val()) return false;
            {% if 'user_email' in session %}
                submitted_comment = $("#comment_input"+poll_id.toString()).val();
                submitted_comment = safe_tags_replace(submitted_comment);
                $.ajax({
                    url: '/add_comment',
                    type: 'POST',
                    data: JSON.stringify({
                        poll_id : poll_id,
                        comment_contents : submitted_comment // User name here
                    }),
                    success: function(response){
                    },
                    error: errorHandler,
                    dataType: "json",
                    contentType: "application/json"
                });

                var currentTime = new Date();
                var year = currentTime.getFullYear();
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                if (hours < 10) hours = "0" + hours;
                if (minutes < 10) minutes = "0" + minutes;
                if (seconds < 10) seconds = "0" + seconds;
                var str_date = year+"."+month+"."+day+" "+hours+"."+minutes+"."+seconds;
                var request_string = $("#comment_input"+poll_id).val();
                request_string = safe_tags_replace(request_string);
                var user_name = "{{ session.user_name }}";
                $("#comment_input"+poll_id).val(""); // User name here
                var comment_html = "<li class='list-group-item'>"+ request_string + " - " + str_date + " / " + user_name + "</li>";
                $("#comment_ul"+poll_id).prepend(comment_html);
            {% else %}
                $("#loginModal").modal('show');
                checkLoginState();
            {% endif %}
        }

        function load_comment(poll_id){
            var poll_id_comment = poll_id * 1;
            var filters=[{"name": "poll_id", "op": "eq", "val": poll_id*1}];
            var orders = [{"field": "id", "direction": "desc"}];
            if($("#comment_ul"+poll_id_comment).children().length != 0) return false;
            $.ajax({
                url: '/api/comment',
                data: {"q" : JSON.stringify({"filters": filters, "order_by": orders})},
                success: handle_json_comment,
                error: errorHandler,
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            });
        }

        function handle_json_comment(json_data){
            var num_of_results = json_data.objects.length;
            cur_comment_total_page = json_data.total_pages;
            for( var i = 0; i<num_of_results; i++){
                var str_date = json_data.objects[i].comment_time;
                var poll_id = json_data.objects[i].poll_id;
                var comment_id = json_data.objects[i].id;
                var comment_content = json_data.objects[i].comment_content;
                comment_content = decodeHtml(comment_content);
                str_date = str_date.replace(/-/g,'\.');
                str_date = str_date.replace('T', ' ');
                str_date = str_date.replace(/:/g, '\.');
                console.log(json_data);
                var comment_html = "<li class=\"list-group-item\">"+ comment_content + " - " + str_date + " / " + json_data.objects[i].user_name + "</li>";
                {% if 'is_superuser' in session %}
                    {% if session.is_superuser %}
                        var delete_icon = "<li class=\"list-group-item\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\" style=\"float:right;cursor: pointer\" onclick=\"return launch_comment_delete_modal("+comment_id+")\" ></span>" + comment_content + " - " + str_date + " / " + json_data.objects[i].user_name + "</li>";
                        comment_html = delete_icon;
                    {% endif %}
                {% endif %}
                $("#comment_ul"+poll_id).append(comment_html);
                // Add User name information here
                if(json_data.num_results > comment_per_pagination){ $("#btn_load_more_comment_"+json_data.objects[i].poll_id.toString()).css("display","block");}
            }
        }

        function load_more_poll(curr_page){
            if(curr_page == total_page) return false;
            $.ajax({
                url: '/api/poll',
                data: {"page" : curr_page+1},
                success: handle_json_poll,
                error: errorHandler,
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            });
        }

        function handle_json_poll(json_data){ // From DB
            curr_page += 1;
            var num_of_results = json_data.objects.length;
            for( var i = 0; i<num_of_results; i++){ // Poll level
                var poll_id = json_data.objects[i].id;
                var title = json_data.objects[i].subject;
                var description = json_data.objects[i].question_statement;
                description = decodeHtml(description);
                var div_item = make_poll_collapse(poll_id, title, description);
                var total_participants = json_data.objects[i].total_participant;
                make_poll_answers(poll_id, json_data.objects[i].questions, div_item, total_participants);
                $("#accordion").append(div_item);
                load_comment(poll_id);
            }
        }

        function make_poll_collapse(poll_id, title, description){
            var heading_poll_id = "heading_poll" + poll_id;
            var collapse_poll_id = "collapse_poll" + poll_id;
            var sharp_collapse_poll_id = "#collapse_poll" + poll_id;
            var div_item = _clone_panel.clone();

            // We need to concatinate the poll id into it.
            div_item.find(".panel-heading").attr("id", heading_poll_id);
            div_item.find("a.collapsed").attr("href", sharp_collapse_poll_id);

            div_item.find("a.collapsed").attr("aria-controls", collapse_poll_id);

            div_item.find("a.collapsed").text(title); // Poll Subject
            div_item.find(".panel-collapse").attr("id", collapse_poll_id);
            div_item.find(".panel-collapse").attr("aria-labelledby", heading_poll_id);
            div_item.find(".panel-body").text(description); // Poll Contents
            div_item.find("#answer_ul a.list-group-item").remove();
            div_item.find("#submit_comment").attr("onclick","return add_comment("+poll_id+")");
            div_item.find("div.input-group input").attr("id", "comment_input"+poll_id);
            div_item.find(".panel-collapse ul.comment").attr("id", "comment_ul"+poll_id);
            div_item.find(".more-comment").attr("id", "btn_load_more_comment_" + poll_id);

            return div_item;
        }

        function make_poll_answers(poll_id, answer_obj, div_item, total_participants){
            var num_questions = answer_obj.length;
            for(var i=0; i<num_questions; i++){
                var answer_id = (i+1).toString();
                var li_str = "<a href=\"#\" class=\"list-group-item\" onclick=\"return vote_poll_handler(" + poll_id +"," + answer_obj[i].id +")\">" + answer_id + ". " + answer_obj[i].answer_description + " <b>(" + answer_obj[i].selected_num + "/" + total_participants +")</b>" + "</a>";
                div_item.find("#answer_ul").append(li_str);
            }
        }

        function load_more_comment(poll_id){
            var cur_page = $("#comment_ul"+poll_id).attr("value");
            if(cur_page >= cur_comment_total_page) return false;
            load_more_comment_ajax(poll_id, (cur_page*1)+1);
            $("#comment_ul"+poll_id).attr("value", (cur_page*1)+1);
        }

        function load_more_comment_ajax(poll_id, page_num){
            var filters=[{"name": "poll_id", "op": "eq", "val": poll_id*1}];
            var orders = [{"field": "id", "direction": "desc"}];
            $.ajax({
                url: '/api/comment',
                data: {"q" : JSON.stringify({"filters": filters, "order_by": orders}), "page" : page_num*1},
                success: handle_json_comment,
                error: errorHandler,
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            });
        }

        function update_poll_answers(poll_id, json_data){
            var poll = json_data.objects[0];
            var poll_title = poll.subject;
            var poll_desc = poll.question_statement;
            var total_participant = poll.total_participant;
            var answer_list = poll.questions;
            var answer_div = $("div.panel-collapse.in");
            answer_div.find(".list-group.answer a.list-group-item").remove();
            for (var i=0; i<answer_list.length; i++){
                var li_str = "<a href=\"#\" class=\"list-group-item\" onclick=\"return vote_poll_handler(" + poll_id +"," + answer_list[i].id +")\">" + (i+1).toString() + ". " + answer_list[i].answer_description + " <b>(" + answer_list[i].selected_num + "/" + total_participant +")</b>" + "</a>";
                answer_div.find(".list-group.answer").append(li_str);
            }
            current_vote_description = "<" + poll_title + "> " + poll_desc;
            if(current_vote_description.length > 100){
                current_vote_description = current_vote_description.substring(0, 99);
            }
        }

        function vote_poll(poll_id, choice_id){
            $.ajax({
                url: '/vote',
                type: 'POST',
                data: JSON.stringify({
                    poll_id : poll_id,
                    choice_id : choice_id
                }),
                success: function(response){
                    if(response.success == false){
                        console.log("DUP!");
                        $("#dupModal").modal('show');
                        return;
                    }
                    var poll_id = response.poll_id;
                    var filters=[{"name": "id", "op": "eq", "val": poll_id*1}];
                    $.ajax({
                        url: '/api/poll',
                        data: {"q" : JSON.stringify({"filters": filters})},
                        success: function(json_data){
                            update_poll_answers(poll_id, json_data);
                            $("#myModal").modal('show');
                        },
                        error: errorHandler,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    });
                },
                error: errorHandler,
                dataType: "json",
                contentType: "application/json"
            });
        }

        function checkLoginState() { // From Facebook login button
            console.log("Check login state");
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
        }
        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                updateLoginStatus();
            } else {
                login();
            }
        }
        function login(){
            FB.login(function(response) {
                statusChangeCallback(response);
            }, {scope: 'public_profile,email'});
        }

        function updateLoginStatus(){
            FB.api('/me', {fields: 'name, email'}, function(response) {
                $.ajax({
                    url: '/login_update',
                    type: 'POST',
                    data: JSON.stringify({
                        user_name : response.name,
                        user_email : response.email // User name here
                    }),
                    success: function(response){
                        console.log(response);
                        location.reload();
                    },
                    error: errorHandler,
                    dataType: "json",
                    contentType: "application/json"
                });
            });
        }

        function vote_poll_handler(poll_id, choice_id){
            {% if 'user_email' not in session %}
                $("#loginModal").modal('show');
                checkLoginState();
            {% else %}
                $("#pollModal").modal('show');
                $("#pollModal").find("#poll_btn").unbind('click');
                $("#pollModal").find("#poll_btn").click(function(){
                    vote_poll(poll_id, choice_id);
                    $("#pollModal").modal('hide');
                });
            {% endif %}
        }

        function initialize_setting(){
            $.ajax({
                    url: '/init_setting',
                    type: 'POST',
                    success: function(response){
                        console.log("Initialized");
                    },
                    error: errorHandler,
                    dataType: "json",
                    contentType: "application/json"
                });
        }

        function errorHandler(error){
            console.log(error);
            $("#errorModal").modal('show');
		}

        function logout_handler(){
            $.ajax({
                    url: '/logout_update',
                    type: 'POST',
                    success: function(response){
                        console.log("Logout successfuly on server");
                        location.reload();
                    },
                    error: errorHandler,
                    dataType: "json",
                    contentType: "application/json"
           });
        }

        function delete_comment(comment_id){
            $("#commentDeleteModal").modal('hide');
            {% if session.is_superuser %}
                $.ajax({
                    url: '/delete_comment',
                    type: 'POST',
                    data:{
                        comment_id : comment_id
                    },
                    success: function (response) {
                        alert("삭제되었습니다.");
                        location.reload();
                    },
                    error: errorHandler
                });
            {% else %}
            {% endif %}
        }

        function launch_comment_delete_modal(comment_id){
{#            $("#commentDeleteModal")#}
            $("#commentDeleteModal").modal('show');
            $("#commentDeleteModal").find("#delete_btn").unbind('click');
            $("#commentDeleteModal").find("#delete_btn").click(function(){
                {% if 'is_superuser' in session %}
                {% if session.is_superuser %}
                    delete_comment(comment_id);
                {% endif %}
                {% endif %}
            });
        }
    </script>

{% endblock %}
